<h2><%= @current_user.username%>'s Cars </h2>

<% @cars.each do |car|%>
  <p>Make: <%= car.make %></p>
  <p>Model: <%= car.model %></p>
  <p>Year: <%= car.year %></p>
  <p>Trim: <%= car.trim %></p>
  <p><a href="/cars/<%= car.id %>">Link to Car</a></p><br>
<% end %>

